.animal-selector
  background: $white;
  box-sizing: border-box;
  color: $black;
  border-radius: 5px;
  float: right;
  padding: 10px;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  transition: opacity 0.5s ease-in-out;
  width: 405px;
  min-height: 490px;
  @media $classifier-vertical-stack-breakpoint
    border-radius: 0 0 5px 5px

  .general-filters
    border-radius: 3px;
    box-sizing: border-box;
    height: 40px;
    position: relative;
    text-align: left;

    .search
      $search-height = 30
      display: inline-block;
      float: left;
      width: 100%
      position: relative;

      i[rel="search"]
        font-size: 16px;
        left: 7px;
        position: absolute;
        top: 7px;
        color: #ddd;
        z-index: 1;

      input[name="search"]
        appearance: none;
        border: 2px solid #ddd;
        border-radius: 5px;
        box-sizing: border-box;
        color: $dark-grey-font;
        font-family: inherit;
        font-size: 12px;
        height: unit($search-height, 'px');
        padding: 0 10px 0 25px;
        width: 100%;
        outline: none;

  .selection-area
    border-radius: 3px;
    border-top: 1px solid rgba(black, 0.15)
    padding: 2px 0 0 0

    .items
      clearfix();
      height: 345px;
      margin: 0 -1px;
      position: relative;

      [data-animal]
        // border: 1px solid $green-dark;
        color: $dark-grey-font;
        box-sizing: border-box;
        cursor: pointer;
        float: left;
        font-size: 12px;
        opacity: 1;
        transition: opacity 0.25s ease-in-out;

        [data-language="pl_pl"] &
          font-size: 11px;
          letter-spacing: -1px;

        [data-language="fi_fi"] &
          font-size: 10px;
          letter-spacing: -1px

        &:focus
          outline: none;

        &.dimmed
          opacity: 0.33;

        &.hidden
          display: none;

        .label
          display: inline-block;

        &:hover
          .label
            background: $green;
            color: #fff;

        span
          padding: 5px 5px 5px 10px;
          margin-left: -10px;
          border-radius: 14px;

      // NOTE: I totally hate this.
      // me too...
      [data-animal="aardvark"] .image
        @extend #thumb-for.aardvark
      [data-animal="baboon"] .image
        @extend #thumb-for.baboon
      [data-animal="birdOther"] .image
        @extend #thumb-for.birdOther
      [data-animal="buffalo"] .image
        @extend #thumb-for.buffalo
      [data-animal="bushbuck"] .image
        @extend #thumb-for.bushbuck
      [data-animal="bushpig"] .image
        @extend #thumb-for.bushpig
      [data-animal="caracal"] .image
        @extend #thumb-for.caracal
      [data-animal="civet"] .image
        @extend #thumb-for.civet
      [data-animal="crane"] .image
        @extend #thumb-for.crane
      [data-animal="duiker"] .image
        @extend #thumb-for.duiker
      [data-animal="eland"] .image
        @extend #thumb-for.eland
      [data-animal="elephant"] .image
        @extend #thumb-for.elephant
      [data-animal="genet"] .image
        @extend #thumb-for.genet
      [data-animal="groundHornbill"] .image
        @extend #thumb-for.groundHornbill
      [data-animal="hare"] .image
        @extend #thumb-for.hare
      [data-animal="hartebeest"] .image
        @extend #thumb-for.hartebeest
      [data-animal="hippopotamus"] .image
        @extend #thumb-for.hippopotamus
      [data-animal="honeyBadger"] .image
        @extend #thumb-for.honeyBadger
      [data-animal="human"] .image
        @extend #thumb-for.human
      [data-animal="hyena"] .image
        @extend #thumb-for.hyena
      [data-animal="impala"] .image
        @extend #thumb-for.impala
      [data-animal="jackal"] .image
        @extend #thumb-for.jackal
      [data-animal="kudu"] .image
        @extend #thumb-for.kudu
      [data-animal="leopard"] .image
        @extend #thumb-for.leopard
      [data-animal="lionCub"] .image
        @extend #thumb-for.lionCub
      [data-animal="lionFemale"] .image
        @extend #thumb-for.lionFemale
      [data-animal="lionMale"] .image
        @extend #thumb-for.lionMale
      [data-animal="mammalOther"] .image
        @extend #thumb-for.mammalOther
      [data-animal="mongoose"] .image
        @extend #thumb-for.mongoose
      [data-animal="nyala"] .image
        @extend #thumb-for.nyala
      [data-animal="oribi"] .image
        @extend #thumb-for.oribi
      [data-animal="otter"] .image
        @extend #thumb-for.otter
      [data-animal="pangolin"] .image
        @extend #thumb-for.pangolin
      [data-animal="porcupine"] .image
        @extend #thumb-for.porcupine
      [data-animal="raptorOther"] .image
        @extend #thumb-for.raptorOther
      [data-animal="reedbuck"] .image
        @extend #thumb-for.reedbuck
      [data-animal="reptile"] .image
        @extend #thumb-for.reptile
      [data-animal="sableAntelope"] .image
        @extend #thumb-for.sableAntelope
      [data-animal="samangoMonkey"] .image
        @extend #thumb-for.samangoMonkey
      [data-animal="secretaryBird"] .image
        @extend #thumb-for.secretaryBird
      [data-animal="serval"] .image
        @extend #thumb-for.serval
      [data-animal="vervetMonkey"] .image
        @extend #thumb-for.vervetMonkey
      [data-animal="vulture"] .image
        @extend #thumb-for.vulture
      [data-animal="warthog"] .image
        @extend #thumb-for.warthog
      [data-animal="waterbuck"] .image
        @extend #thumb-for.waterbuck
      [data-animal="weasel"] .image
        @extend #thumb-for.weasel
      [data-animal="wildDog"] .image
        @extend #thumb-for.wildDog
      [data-animal="wildcat"] .image
        @extend #thumb-for.wildcat
      [data-animal="wildebeest"] .image
        @extend #thumb-for.wildebeest
      [data-animal="zebra"] .image
        @extend #thumb-for.zebra

      &[data-items="lots"] [data-animal]
        font-size: 12px;
        height: 10.25%;
        padding: 1px 0 0 3px;
        width: 33.33%;

        .image
          display: none;

        [data-language="fi_fi"] &
          font-size: 10px;
      &[data-items="20"] [data-animal]
        height: 10%;
        padding-top: 7px;
        text-align: center;
        width: 50%;

        .image
          display: none;

      &[data-items="10"] [data-animal],
      &[data-items="5"] [data-animal]
        clearfix();
        height: 20%;
        width: 50%;

        .image
          float: left;
          height: 68px;
          overflow: hidden;
          width: 68px;

        .label
          /* float: left; breaks long names */
          word-wrap: break-word
          margin: 20px 0 0 10px;

      &[data-items="10"] [data-animal] .label
        max-width: 100px;

      &[data-items="5"] [data-animal]
        width: 100%;

        .label
          margin-top: 25px;
          font-size: 14px;

      .none
        display: none;
        font-size: 12px;
        margin-top: 125px;
        text-align: center;

        button[name="clear-filters"]
          text-decoration: underline;

      &[data-items="0"] .none
        display: block;

  .aux
    color: white;
    font-size: 12px;
    position: absolute;
    right: 0;
    margin: 10px 0;
    text-align: right;
    bottom: -60px;

    button
      font-weight: 300;
      margin: 0 10px;
      text-align: right;

  .finished + &
    opacity: 0.75;
    pointer-events: none;
