#thumb-for.amphibiansAndReptiles
  background: url("./images/animals/amphibians-and-reptiles-1.jpg") 55% 20%;n
#thumb-for.badgerAmerican
  background: url("./images/animals/badger-american-3.jpg") 80% 30%;
#thumb-for.bearBlack
  background: url("./images/animals/bear-black-1.jpg") 40% 80%;
#thumb-for.beaverAmerican
  background: url("./images/animals/beaver-american-2.jpg") 31% 44%;
#thumb-for.birds
  background: url("./images/animals/birds-1.jpg") 25% 35%;
#thumb-for.bobcat
  background: url("./images/animals/bobcat-1.jpg") 50% 30%;
#thumb-for.catDomestic
  background: url("./images/animals/cat-domestic-3.jpg") 20% 20%;
#thumb-for.chipmunksAndSquirrels
  background: url("./images/animals/chipmunks-and-squirrels-1.jpg") 63% 44%;
#thumb-for.cottontailEastern
  background: url("./images/animals/cottontail-eastern-1.jpg") 45% 30%;
#thumb-for.cougar
  background: url("./images/animals/cougar-1.jpg") 68% 50%;
#thumb-for.coyote
  background: url("./images/animals/coyote-2.jpg") 25% 30%;
#thumb-for.craneSandhill
  background: url("./images/animals/crane-sandhill-1.jpg") 10% 50%;
#thumb-for.craneWhooping
  background: url("./images/animals/crane-whooping-1.jpg") 50% 10%;
#thumb-for.deerWhiteTailed
  background: url("./images/animals/deer-white-tailed-1.jpg") 30% 35%;
#thumb-for.dogDomestic
  background: url("./images/animals/dog-domestic-1.jpg") 60% 44%;
#thumb-for.elk
  background: url("./images/animals/elk-1.jpg") 55% 45%;
#thumb-for.fisher
  background: url("./images/animals/fisher-1.jpg") 60% 45%;
#thumb-for.foxGray
  background: url("./images/animals/fox-gray-1.jpg") 50% 99%;
#thumb-for.foxRed
  background: url("./images/animals/fox-red-1.jpg") 50% 40%;
#thumb-for.grouse
  background: url("./images/animals/grouse-1.jpg") 65% 40%;
#thumb-for.hareSnowshoe
  background: url("./images/animals/hare-snowshoe-1.jpg") 50% 40%;
#thumb-for.human
  background: url("./images/animals/human-1.jpg") 45% 90%;
#thumb-for.jackrabbitWhiteTailed
  background: url("./images/animals/jackrabbit-white-tailed-1.jpg") 25% 30%;
#thumb-for.lynxCanada
  background: url("./images/animals/lynx-canada-1.jpg") 30% 50%;
#thumb-for.martenAmerican
  background: url("./images/animals/marten-american-1.jpg") 60% 40%;
#thumb-for.minkAmerican
  background: url("./images/animals/mink-american-2.jpg") 35% 80%;
#thumb-for.moose
  background: url("./images/animals/moose-1.jpg") 80% 30%;
#thumb-for.muskrat
  background: url("./images/animals/muskrat-1.jpg") 30% 40%;
#thumb-for.opossumVirginia
  background: url("./images/animals/opossum-virginia-1.jpg") 40% 30%;
#thumb-for.otherDomestic
  background: url("./images/animals/other-domestic-1.jpg") 40% 5%;
#thumb-for.otter
  background: url("./images/animals/otter-1.jpg") 80% 50%;
#thumb-for.pheasantRingNecked
  background: url("./images/animals/pheasant-ring-necked-1.jpg")
#thumb-for.pigFeral
  background: url("./images/animals/pig-feral-1.jpg") 30% 50%;
#thumb-for.porcupineNorthAmerican
  background: url("./images/animals/porcupine-north-american-1.jpg") 20% 50%;
#thumb-for.raccoonNorthern
  background: url("./images/animals/raccoon-northern-1.jpg") 80% 80%;
#thumb-for.skunkStriped
  background: url("./images/animals/skunk-striped-3.jpg") 50% 80%;
#thumb-for.spottedSkunkEastern
  background: url("./images/animals/spotted-skunk-eastern-1.jpg") 50% 60%;
#thumb-for.turkeyWild
  background: url("./images/animals/turkey-wild-1.jpg") 55% 15%;
#thumb-for.weasel
  background: url("./images/animals/weasel-1.jpg") 15% 40%;
#thumb-for.wolfGray
  background: url("./images/animals/wolf-gray-1.jpg") 10% 40%;
#thumb-for.wolverine
  background: url("./images/animals/wolverine-1.jpg") 25% 30%;
#thumb-for.woodchuck
  background: url("./images/animals/woodchuck-1.jpg") 55% 30%;