.animal-details
  background: $white;
  border-radius: 4px;
  border-width: 75px 5px 5px;
  box-shadow: 0 1px 1px rgba($white, 0.33) inset;
  box-sizing: border-box;
  font-size: 11px;
  height: 100%;
  left: 0;
  opacity: 1;
  overflow: hidden;
  padding: 10px;
  position: absolute;
  -webkit-tap-highlight-color: transparent;
  top: 0;
  transform: scale(1);
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
  width: 100%;
  z-index: 1;
  color: $dark-grey-font;

  &:focus
    outline: none;

  &.hidden
    transform: scale(0.95);
    opacity: 0;

  .image-changer
    position: relative;

    .images
      border-bottom: 1px solid $light-grey-bg;
      box-shadow: 0px 1px 1px -1px rgba($white, 0.5);
      overflow: hidden;
      position: relative;

      figure
        height: 200px;
        margin: 0;
        left: 0;
        position: absolute;
        top: 0;

        &.active
          position: relative;
          z-index: 1;

        img
          max-width: 100%;

    .toggles
      text-align: center;
      z-index: 1;

      button[name="toggle"]
        @extend #standard-toggle;

  .image-changer-shortcuts
    height: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 0;
    overflow: hidden;

  .content
    height: 120px;
    overflow: auto;

    p.label
      font-size: 16px;
      margin: 10px 0 -10px;

    button[name="confusion"]
      @extends #standard-button;
      color: $dark-grey-font;
      background-color: $light-grey-bg;
      border-radius: 10px;
      padding: 0 5px;

  .options
    left: 0;
    position: absolute;
    width: 100%;

    .group
      padding: 5px;

      .title
        display: inline-block;
        width: 12em;

        [data-language="pl_pl"] &,
        [data-language="fi_fi"] &
          letter-spacing: -1px;

      &.count,
      &.behavior
        clearfix();

        label
          cursor: pointer;

          > input
            opacity: 0.01;
            position: absolute;

          > .label
            @extend #standard-button;
            @extend .light-grey-btn;
            padding: 2px 5px;

          > input:checked + .label
            background: $green-really;
            color: $white;

  .action
    bottom: 5px;
    font-weight: bold;
    padding: 2px;
    position: absolute;
    right: 5px;

    button
      @extend .classifier-action-button;

      &[name="cancel"]
        color: $white;
        background: $mango;
        text-transform: none;
        width: 70px;
        letter-spacing: 0px;

      &[name="identify"]
        color: $white;
        background: $green-really;

.confusion-popup
  clearfix();
  background: $gold;
  border: 2px solid $gold;
  border-radius: 5px;
  box-shadow: 0 3px 3px -3px $black;
  color: $dark-grey-font;
  font-size: 11px;
  padding: 15px;
  position: absolute;
  z-index: 1;

  &:after
    border: 10px solid transparent;
    border-top-color: $gold;
    content: "";
    left: 50%;
    margin-left: -10px;
    position: absolute;
    top: 100%;

  button[name="close"]
    height: 1em;
    position: absolute;
    right: 0;
    top: 0;
    width: 1em;

  .image
    margin-right: 10px;
    height: 68px;
    float: left;
    width: 68px;

  &.amphibiansAndReptiles .image
    @extend #thumb-for.amphibiansAndReptiles
  &.badgerAmerican .image
    @extend #thumb-for.badgerAmerican
  &.bearBlack .image
    @extend #thumb-for.bearBlack
  &.beaverAmerican .image
    @extend #thumb-for.beaverAmerican
  &.birds .image
    @extend #thumb-for.birds
  &.bobcat .image
    @extend #thumb-for.bobcat
  &.catDomestic .image
    @extend #thumb-for.catDomestic
  &.chipmunksAndSquirrels .image
    @extend #thumb-for.chipmunksAndSquirrels
  &.cottontailEastern .image
    @extend #thumb-for.cottontailEastern
  &.cougar .image
    @extend #thumb-for.cougar
  &.coyote .image
    @extend #thumb-for.coyote
  &.craneSandhill .image
    @extend #thumb-for.craneSandhill
  &.craneWhooping .image
    @extend #thumb-for.craneWhooping
  &.deerWhiteTailed .image
    @extend #thumb-for.deerWhiteTailed
  &.dogDomestic .image
    @extend #thumb-for.dogDomestic
  &.elk .image
    @extend #thumb-for.elk
  &.fisher .image
    @extend #thumb-for.fisher
  &.foxGray .image
    @extend #thumb-for.foxGray
  &.foxRed .image
    @extend #thumb-for.foxRed
  &.grouse .image
    @extend #thumb-for.grouse
  &.hareSnowshoe .image
    @extend #thumb-for.hareSnowshoe
  &.human .image
    @extend #thumb-for.human
  &.jackrabbitWhiteTailed .image
    @extend #thumb-for.jackrabbitWhiteTailed
  &.lynxCanada .image
    @extend #thumb-for.lynxCanada
  &.martenAmerican .image
    @extend #thumb-for.martenAmerican
  &.minkAmerican .image
    @extend #thumb-for.minkAmerican
  &.moose .image
    @extend #thumb-for.moose
  &.muskrat .image
    @extend #thumb-for.muskrat
  &.opossumVirginia .image
    @extend #thumb-for.opossumVirginia
  &.otherDomestic .image
    @extend #thumb-for.otherDomestic
  &.otter .image
    @extend #thumb-for.otter
  &.pheasantRingNecked .image
    @extend #thumb-for.pheasantRingNecked
  &.pigFeral .image
    @extend #thumb-for.pigFeral
  &.porcupineNorthAmerican .image
    @extend #thumb-for.porcupineNorthAmerican
  &.raccoonNorthern .image
    @extend #thumb-for.raccoonNorthern
  &.skunkStriped .image
    @extend #thumb-for.skunkStriped
  &.spottedSkunkEastern .image
    @extend #thumb-for.spottedSkunkEastern
  &.turkeyWild .image
    @extend #thumb-for.turkeyWild
  &.weasel .image
    @extend #thumb-for.weasel
  &.wolfGray .image
    @extend #thumb-for.wolfGray
  &.wolverine .image
    @extend #thumb-for.wolverine
  &.woodchuck .image
    @extend #thumb-for.woodchuck

  .description
    float: left;
    max-width: 300px;

    p
      margin: 0;

      &.label
        font-size: 16px;
        font-weight: bold;

  .rump
    display: inline-block;
    margin: 0;
    text-align: center;
