#thumb-for.aardvark
  background: url("./images/animals/aardvark-1.jpg");
#thumb-for.aardvark
  background: url("./images/animals/aardvark-2.jpg");
#thumb-for.aardvark
  background: url("./images/animals/aardvark-3.jpg");
#thumb-for.baboon
  background: url("./images/animals/baboon-1.jpg");
#thumb-for.baboon
  background: url("./images/animals/baboon-2.jpg");
#thumb-for.baboon
  background: url("./images/animals/baboon-3.jpg");
#thumb-for.birdOther
  background: url("./images/animals/birdOther-1.jpg");
#thumb-for.birdOther
  background: url("./images/animals/birdOther-2.jpg");
#thumb-for.birdOther
  background: url("./images/animals/birdOther-3.jpg");
#thumb-for.buffalo
  background: url("./images/animals/buffalo-1.jpg");
#thumb-for.buffalo
  background: url("./images/animals/buffalo-2.jpg");
#thumb-for.buffalo
  background: url("./images/animals/buffalo-3.jpg");
#thumb-for.bushbuck
  background: url("./images/animals/bushbuck-1.jpg");
#thumb-for.bushbuck
  background: url("./images/animals/bushbuck-2.jpg");
#thumb-for.bushbuck
  background: url("./images/animals/bushbuck-3.jpg");
#thumb-for.bushpig
  background: url("./images/animals/bushpig-1.jpg");
#thumb-for.bushpig
  background: url("./images/animals/bushpig-2.jpg");
#thumb-for.bushpig
  background: url("./images/animals/bushpig-3.jpg");
#thumb-for.caracal
  background: url("./images/animals/caracal-1.jpg");
#thumb-for.caracal
  background: url("./images/animals/caracal-2.jpg");
#thumb-for.caracal
  background: url("./images/animals/caracal-3.jpg");
#thumb-for.civet
  background: url("./images/animals/civet-1.jpg");
#thumb-for.civet
  background: url("./images/animals/civet-2.jpg");
#thumb-for.civet
  background: url("./images/animals/civet-3.jpg");
#thumb-for.crane
  background: url("./images/animals/crane-1.jpg");
#thumb-for.crane
  background: url("./images/animals/crane-2.jpg");
#thumb-for.crane
  background: url("./images/animals/crane-3.jpg");
#thumb-for.duiker
  background: url("./images/animals/duiker-1.jpg");
#thumb-for.duiker
  background: url("./images/animals/duiker-2.jpg");
#thumb-for.duiker
  background: url("./images/animals/duiker-3.jpg");
#thumb-for.eland
  background: url("./images/animals/eland-1.jpg");
#thumb-for.eland
  background: url("./images/animals/eland-2.jpg");
#thumb-for.eland
  background: url("./images/animals/eland-3.jpg");
#thumb-for.elephant
  background: url("./images/animals/elephant-1.jpg");
#thumb-for.elephant
  background: url("./images/animals/elephant-2.jpg");
#thumb-for.elephant
  background: url("./images/animals/elephant-3.jpg");
#thumb-for.genet
  background: url("./images/animals/genet-1.jpg");
#thumb-for.genet
  background: url("./images/animals/genet-2.jpg");
#thumb-for.genet
  background: url("./images/animals/genet-3.jpg");
#thumb-for.groundHornbill
  background: url("./images/animals/groundHornbill-1.jpg");
#thumb-for.groundHornbill
  background: url("./images/animals/groundHornbill-2.jpg");
#thumb-for.groundHornbill
  background: url("./images/animals/groundHornbill-3.jpg");
#thumb-for.hare
  background: url("./images/animals/hare-1.jpg");
#thumb-for.hare
  background: url("./images/animals/hare-2.jpg");
#thumb-for.hare
  background: url("./images/animals/hare-3.jpg");
#thumb-for.hartebeest
  background: url("./images/animals/hartebeest-1.jpg");
#thumb-for.hartebeest
  background: url("./images/animals/hartebeest-2.jpg");
#thumb-for.hartebeest
  background: url("./images/animals/hartebeest-3.jpg");
#thumb-for.hippopotamus
  background: url("./images/animals/hippopotamus-1.jpg");
#thumb-for.hippopotamus
  background: url("./images/animals/hippopotamus-2.jpg");
#thumb-for.hippopotamus
  background: url("./images/animals/hippopotamus-3.jpg");
#thumb-for.honeybadger
  background: url("./images/animals/honeybadger-1.jpg");
#thumb-for.honeybadger
  background: url("./images/animals/honeybadger-2.jpg");
#thumb-for.honeybadger
  background: url("./images/animals/honeybadger-3.jpg");
#thumb-for.human
  background: url("./images/animals/human-1.jpg");
#thumb-for.human
  background: url("./images/animals/human-2.jpg");
#thumb-for.human
  background: url("./images/animals/human-3.jpg");
#thumb-for.hyena
  background: url("./images/animals/hyena-1.jpg");
#thumb-for.hyena
  background: url("./images/animals/hyena-2.jpg");
#thumb-for.hyena
  background: url("./images/animals/hyena-3.jpg");
#thumb-for.impala
  background: url("./images/animals/impala-1.jpg");
#thumb-for.impala
  background: url("./images/animals/impala-2.jpg");
#thumb-for.impala
  background: url("./images/animals/impala-3.jpg");
#thumb-for.jackal
  background: url("./images/animals/jackal-1.jpg");
#thumb-for.jackal
  background: url("./images/animals/jackal-2.jpg");
#thumb-for.jackal
  background: url("./images/animals/jackal-3.jpg");
#thumb-for.kudu
  background: url("./images/animals/kudu-1.jpg");
#thumb-for.kudu
  background: url("./images/animals/kudu-2.jpg");
#thumb-for.kudu
  background: url("./images/animals/kudu-3.jpg");
#thumb-for.leopard
  background: url("./images/animals/leopard-1.jpg");
#thumb-for.leopard
  background: url("./images/animals/leopard-2.jpg");
#thumb-for.leopard
  background: url("./images/animals/leopard-3.jpg");
#thumb-for.lionCub
  background: url("./images/animals/lionCub-1.jpg");
#thumb-for.lionCub
  background: url("./images/animals/lionCub-2.jpg");
#thumb-for.lionFemale
  background: url("./images/animals/lionFemale-1.jpg");
#thumb-for.lionFemale
  background: url("./images/animals/lionFemale-2.jpg");
#thumb-for.lionFemale
  background: url("./images/animals/lionFemale-3.jpg");
#thumb-for.lionMale
  background: url("./images/animals/lionMale-1.jpg");
#thumb-for.lionMale
  background: url("./images/animals/lionMale-2.jpg");
#thumb-for.lionMale
  background: url("./images/animals/lionMale-3.jpg");
#thumb-for.mammalOther
  background: url("./images/animals/mammalOther-1.jpg");
#thumb-for.mammalOther
  background: url("./images/animals/mammalOther-2.jpg");
#thumb-for.mammalOther
  background: url("./images/animals/mammalOther-3.jpg");
#thumb-for.mongoose
  background: url("./images/animals/mongoose-1.jpg");
#thumb-for.mongoose
  background: url("./images/animals/mongoose-2.jpg");
#thumb-for.mongoose
  background: url("./images/animals/mongoose-3.jpg");
#thumb-for.nyala
  background: url("./images/animals/nyala-1.jpg");
#thumb-for.nyala
  background: url("./images/animals/nyala-2.jpg");
#thumb-for.nyala
  background: url("./images/animals/nyala-3.jpg");
#thumb-for.oribi
  background: url("./images/animals/oribi-1.jpg");
#thumb-for.oribi
  background: url("./images/animals/oribi-2.jpg");
#thumb-for.oribi
  background: url("./images/animals/oribi-3.jpg");
#thumb-for.otter
  background: url("./images/animals/otter-1.jpg");
#thumb-for.otter
  background: url("./images/animals/otter-2.jpg");
#thumb-for.pangolin
  background: url("./images/animals/pangolin-1.jpg");
#thumb-for.pangolin
  background: url("./images/animals/pangolin-2.jpg");
#thumb-for.pangolin
  background: url("./images/animals/pangolin-3.jpg");
#thumb-for.porcupine
  background: url("./images/animals/porcupine-1.jpg");
#thumb-for.porcupine
  background: url("./images/animals/porcupine-2.jpg");
#thumb-for.porcupine
  background: url("./images/animals/porcupine-3.jpg");
#thumb-for.raptorOther
  background: url("./images/animals/raptorOther-1.jpg");
#thumb-for.raptorOther
  background: url("./images/animals/raptorOther-2.jpg");
#thumb-for.raptorOther
  background: url("./images/animals/raptorOther-3.jpg");
#thumb-for.reedbuck
  background: url("./images/animals/reedbuck-1.jpg");
#thumb-for.reedbuck
  background: url("./images/animals/reedbuck-2.jpg");
#thumb-for.reedbuck
  background: url("./images/animals/reedbuck-3.jpg");
#thumb-for.reptile
  background: url("./images/animals/reptile-1.jpg");
#thumb-for.reptile
  background: url("./images/animals/reptile-2.jpg");
#thumb-for.reptile
  background: url("./images/animals/reptile-3.jpg");
#thumb-for.sableAntelope
  background: url("./images/animals/sableAntelope-1.jpg");
#thumb-for.sableAntelope
  background: url("./images/animals/sableAntelope-2.jpg");
#thumb-for.sableAntelope
  background: url("./images/animals/sableAntelope-3.jpg");
#thumb-for.samangoMonkey
  background: url("./images/animals/samangoMonkey-1.jpg");
#thumb-for.samangoMonkey
  background: url("./images/animals/samangoMonkey-2.jpg");
#thumb-for.secretaryBird
  background: url("./images/animals/secretaryBird-1.jpg");
#thumb-for.secretaryBird
  background: url("./images/animals/secretaryBird-2.jpg");
#thumb-for.secretaryBird
  background: url("./images/animals/secretaryBird-3.jpg");
#thumb-for.serval
  background: url("./images/animals/serval-1.jpg");
#thumb-for.serval
  background: url("./images/animals/serval-2.jpg");
#thumb-for.serval
  background: url("./images/animals/serval-3.jpg");
#thumb-for.vervetMonkey
  background: url("./images/animals/vervetMonkey-1.jpg");
#thumb-for.vervetMonkey
  background: url("./images/animals/vervetMonkey-2.jpg");
#thumb-for.vervetMonkey
  background: url("./images/animals/vervetMonkey-3.jpg");
#thumb-for.vulture
  background: url("./images/animals/vulture-1.jpg");
#thumb-for.vulture
  background: url("./images/animals/vulture-2.jpg");
#thumb-for.vulture
  background: url("./images/animals/vulture-3.jpg");
#thumb-for.warthog
  background: url("./images/animals/warthog-1.jpg");
#thumb-for.warthog
  background: url("./images/animals/warthog-2.jpg");
#thumb-for.warthog
  background: url("./images/animals/warthog-3.jpg");
#thumb-for.waterbuck
  background: url("./images/animals/waterbuck-1.jpg");
#thumb-for.waterbuck
  background: url("./images/animals/waterbuck-2.jpg");
#thumb-for.waterbuck
  background: url("./images/animals/waterbuck-3.jpg");
#thumb-for.weasel
  background: url("./images/animals/weasel-1.jpg");
#thumb-for.weasel
  background: url("./images/animals/weasel-2.jpg");
#thumb-for.wildcat
  background: url("./images/animals/wildcat-1.jpg");
#thumb-for.wildcat
  background: url("./images/animals/wildcat-2.jpg");
#thumb-for.wildcat
  background: url("./images/animals/wildcat-3.jpg");
#thumb-for.wildDog
  background: url("./images/animals/wildDog-1.jpg");
#thumb-for.wildDog
  background: url("./images/animals/wildDog-2.jpg");
#thumb-for.wildDog
  background: url("./images/animals/wildDog-3.jpg");
#thumb-for.wildebeest
  background: url("./images/animals/wildebeest-1.jpg");
#thumb-for.wildebeest
  background: url("./images/animals/wildebeest-2.jpg");
#thumb-for.wildebeest
  background: url("./images/animals/wildebeest-3.jpg");
#thumb-for.zebra
  background: url("./images/animals/zebra-1.jpg");
#thumb-for.zebra
  background: url("./images/animals/zebra-2.jpg");
#thumb-for.zebra
  background: url("./images/animals/zebra-3.jpg");
