.classifier
  clearfix();
  margin: 30px auto 100px auto;
  min-height: 490px;
  padding: 5px;
  position: relative;
  width: 1000px;

  .classifier-title
    color: white
    font-size: 20px
    margin: 0 0 0.4em 0

  @media $classifier-vertical-stack-breakpoint
    width: 580px;
    .animal-selector
      width: 100%;
    .subject-viewer
      width: 100%;
      text-align: center;

  @media $classifier-full-width-breakpoint
    width: 100%;
    padding: 0 0 100px 0;
    margin: 0;
    .subject-viewer
      .images .subject-image
        width: 100%;
        margin: 0;
      .followup
        span.social.group
          display: none;
    .animal-selector .selection-area .items[data-items="10"] [data-animal] .image
      display: none;
